<div class="border rounded shadow p-4 mb-4 bg-white">
  <h1 class="h3 mb-4"><%= t('web.bulletins.index.title') %></h1>

  <!-- Форма поиска с серым фоном -->
  <div class="bg-light p-4 rounded mb-4">
    <%= search_form_for @q, class: 'row g-3 align-items-start' do |f| %>
      <div class="col-12 col-md-6">
        <%= f.search_field :title_or_description_cont,
            class: 'form-control',
            placeholder: '' %>
        <label class="form-label small mt-1"><%= t('web.bulletins.index.search_label') %></label>
      </div>
      <div class="col-12 col-md-4">
        <%= f.collection_select :category_id_eq,
            Category.all,
            :id,
            :name,
            { include_blank: true },
            class: 'form-select' %>
        <label class="form-label small mt-1"><%= t('web.bulletins.index.category_label') %></label>
      </div>
      <div class="col-12 col-md-2">
        <div class="d-flex gap-2">
          <%= f.submit t('web.bulletins.index.search'), class: 'btn btn-primary btn-sm' %>
          <%= link_to t('web.bulletins.index.reset'), root_path, class: 'btn btn-outline-secondary btn-sm' %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @bulletins.any? %>
    <div class="row g-3">
      <%= render @bulletins %>
    </div>
    <div class="mt-4">
      <%= paginate @bulletins, theme: 'bootstrap4' %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= t('web.bulletins.index.no_bulletins') %>
    </div>
  <% end %>
</div>
