<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layouts.application.title') %> - <%= t('admin.dashboard') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'layouts/shared/nav' %>

    <div class="container-fluid" style="padding-left: 8rem; padding-right: 8rem;">
      <div class="row mt-4">
        <!-- Левая боковая панель -->
        <div class="col-md-3">
          <div class="list-group">
            <%= link_to t('admin.sidebar.moderation'), admin_root_path, class: "list-group-item list-group-item-action #{current_page?(admin_root_path) ? 'active' : ''}" %>
            <%= link_to t('admin.sidebar.all_bulletins'), admin_bulletins_path, class: "list-group-item list-group-item-action #{current_page?(admin_bulletins_path) ? 'active' : ''}" %>
            <%= link_to t('admin.sidebar.categories'), admin_categories_path, class: "list-group-item list-group-item-action #{current_page?(admin_categories_path) ? 'active' : ''}" %>
          </div>
        </div>

        <!-- Основное содержимое -->
        <div class="col-md-9">
          <%= render 'layouts/shared/flash' %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
