<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layouts.application.title') %> - <%= t('web.admin.dashboard') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'layouts/shared/nav' %>

    <div class="container px-5">
      <div class="row mt-4">
        <div class="col-md-3">
          <div class="list-group">
            <%= nav_item_link t('web.admin.sidebar.moderation'), admin_root_path %>
            <%= nav_item_link t('web.admin.sidebar.all_bulletins'), admin_bulletins_path %>
            <%= nav_item_link t('web.admin.sidebar.categories'), admin_categories_path %>
          </div>
        </div>

        <div class="col-md-9">
          <%= render 'layouts/shared/flash' %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
