<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layouts.application.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'layouts/shared/nav' %>

    <main class="container-fluid mt-4" style="padding-left: 8rem; padding-right: 8rem;">
      <%= render 'layouts/shared/flash' %>

      <%= yield %>
    </main>
  </body>
</html>
